* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "微软雅黑";
	height: 100%;
	width: 100%;
}

.main-container {
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

.huang-almanac {
	background: white;
	width: auto;
	height: auto;
	display:block; 
	text-align: center;
	margin: 40px auto;
}

.huang-date {
	font-size: 160px;
	display: block;
}

.huang-year {
	font-size: 20px;
	color: #666;
}

.gregorian {
	font-size: 20px;
	color: #666;
}

.advice {
	border: 1px solid lightgrey;
}

.suit {
	width: 50%;
	display: inline-block;
	text-align: center;
	list-style: none;
	padding: 10px 40px;
	box-sizing: border-box;
	float: left;
	position: relative;
}

.suit li {
	font-size: 15px;
	margin-top: 6px;
	color: lightgrey;
}

.suit::before {
	content: "宜";
	font-size: 30px;
	font-weight: bolder;
	color: red;
}
.avoid {
	width: 50%;
	display: inline-block;
	list-style: none;
	box-sizing: border-box;
	float: left;
	position: relative;
	text-align: center;
	padding: 10px 40px;
}
.avoid li {
	margin-top: 6px;
	font-size: 15px;
	color: lightgrey;
}

.avoid::before{
	content:"忌";
	font-size: 30px;
	font-weight: bolder;
	color: green;
}